<div class="table-responsive text-center" style="padding-top: 30px">
    <table class="table">
        <tbody class="display-4">
            <tr>
                <div class="container text-center" style="padding-top: 30px">
                    <div align="center"> <img
                            src="https://starrgate.s3.amazonaws.com:443/users/020cc12a1d39d4b6ab39437f1dceef9797aadb6e/profile_porjeCM.jpg"
                            width="200px" height="200px"> </div>
                </div>
            </tr>
            <tr>Marcelo Eguino Burgoa</tr>
            <tr><a href="mailto:marcelo.eguino@gmail.com">marcelo.eguino@gmail.com</a>
            </tr>
            <tr>+59168225778</tr>
    </table>
</div>