<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="#">Torre Technical Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid text-center">
  <hr class="my-4">
  <h5 class="text-justify">Explanation: The idea of the product is to improve the way in which the users find some
    relevant What I saw is
    that the search engine birngs a lot of information to the client side, so it takes time to retrieve the information,
    and&nbsp; when we want to add a filter we repeat the process.
    The Idea is to add a filter over the loaded data, so we can filter this information more quickly (thinking that the
    users want to see what the site birnged to them).<br>
    We assume that we made a Search request to teh server. For this purpose we retrieve information using the Post
    Method: https://search.torre.co/people/_search', and we work with the results of the Search. </h5>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Filter the information retrieved">
    </div>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let job of jobsRetrieved | filter:searchText">
          <table class="table">
            <tbody>
              <tr>
                <div class="row">
                  <div class=" col-md-4"> <img src= "{{job.picture}}" height="50px" width="50px"> </div>
                  <div class="col-md-4 "> {{job.name}} </div>
                </div>
              </tr>
              <tr> {{job.professionalHeadline}} </tr>
              <tr> {{job.locationname}} </tr>
              <tr> {{job.opportunities}} </tr>
            </tbody>
          </table>
        </tr>
      </tbody>
    </table>
    <div class="p-3">
      <p class="lead">
        <a class="btn btn-primary btn-lg" (click)="onClickPost()" role="button">Buscar</a>
      </p>
    </div>
  </div>
</div>